---
import Layout from "../layouts/Layout.astro";
export const prerender = true
---

<Layout title="About the proyect">
  <main class="text-white">
    <h1>About the proyect</h1>
    <p> 
      This is a simple project to learn Astro and how it works, I'm using this as my first experience with web development.
    </p>
  </main>
</Layout>